.font-kanit {
	font-family: 'Kanit', sans-serif;
  }

.container {
    max-width: 600px;
    top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.orange-text {
    color: #ff29d1;
}

.my-button {
    background-color:#ff8ac1;
    border: 1px solid rgb(255, 85, 142);
}

.my-button:hover {
	background-color:#ff719c;
}
.my-button:active {
	position:relative;
	top:1px;
}