<div class="container-fluid background">
    <div class="container">
        <h1>ลงทะเบียน</h1>
            <div>
            <form [formGroup]="service.formModel" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="email">อีเมล</label>
                    <input type="text" formControlName="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" />
                    <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                        <div *ngIf="f.Email.errors.required">Email is required</div>
                        <div *ngIf="f.Email.errors.email">Invalid email address</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstName">ชื่อจริง</label>
                    <input type="text" formControlName="FirstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }" />
                    <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
                        <div *ngIf="f.FirstName.errors.required">First Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName">นามสกุล</label>
                    <input type="text" formControlName="LastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }" />
                    <div *ngIf="submitted && f.LastName.errors" class="invalid-feedback">
                        <div *ngIf="f.LastName.errors.required">Last Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">เบอร์โทรศัพท์</label>
                    <input type="text" formControlName="PhoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.PhoneNumber.errors }" />
                    <div *ngIf="submitted && f.PhoneNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.PhoneNumber.errors.required">PhoneNumber is required</div>
                        <div *ngIf="f.PhoneNumber.errors?.minlength">PhoneNumber must be at least 10 digits</div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary my-button">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Register
                    </button>
                    <a routerLink="../home" class="btn btn-link orange-text">Cancel</a>
                </div>
            </form>
            </div>
    </div>
</div>